---
layout: default
---

<div class="home">
  
  <div class="">
    <div class="header-logo-block-img">
      <img class="logo-img" src="{{ site.github.url }}/img/logo_notitle_lr.jpg">
    </div>
    <div class="header-logo-block-txt">
      <p><span class="capital-chars">V</span>iew <span class="capital-chars">O</span>n the 
      <span class="capital-chars">L</span>ife of <span class="capital-chars">GA</span>laxies</p>
    </div>
  </div>

  
  <div class="seminar-description">
    <p>
      Еженедельный семинар организован в рамках проекта VOLGA – A View On the
      Life of GAlaxies, финансирумого грантом РНФ 14-02-00041.  Главной целью
      семинара является освещение последних astro-ph препринтов по физике
      галактик, а также обсуждение работы научного коллектива и других
      новостей (конференции, наблюдения и т.д.).
    </p>
    <!-- <p>
      Как правило, семинар проходит в 44 аудитория ГАИШ по понедельникам в 16:00.
    </p> -->
  </div>  
    
  <h1>Последние семинары</h1>
  <div>
  <h4>      
    <a href="{{ site.github.url }}/full_list/">Список всех семинаров на одной странице.</a>
  </h4>  

    <ul class="post-list">      
      {% for post in paginator.posts %}
        <li class="post-list-item">
          <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2> -->
          <div>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2 style="display: inline-block; margin-left: 15px">
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
          </div>        
          
        </li>
      {% endfor %}
    </ul>
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
  </div>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Назад</a>
    {% else %}
      <span class="previous">Назад</span>
    {% endif %}
    <span class="page_number ">Страница: {{ paginator.page }} из {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Дальше</a>
    {% else %}
      <span class="next ">Дальше</span>
    {% endif %}
  </div>

    
</div>
